body {
  background-color: black;
}
.pic {
  width: 100%;
  height: 100%;
  border: 100px solid white;
}
p {
  color: white;
  text-align: center;
}
h1 {
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
div {
  width: 50%;
  margin-left: 25%;
}
